img{
   
   height: 300px;
   width: 300px;
   border-radius: 50%;
}
body{
   background-color: aquamarine;
}
.container{
    display: flex;
}
.para{
   font-size: 22px;
   color: rgb(255, 0, 128);
}
p{
   font-size: 22px;
}
@media only screen and (max-width:600px){
   
   .para{
      font-size: 18px;
      color: chartreuse;
      background-color: cornflowerblue;
   }
   img{

      height: 100px;
      width: 100px;}
}