.container{
    display: flex;
}
body{
    background-color: lightgreen;
}
.left-side{
    
}
.right-side{
   
}
h1{
   text-align: center;
   color: red;
}
img{
    width: 300px;
    height: 300px;  
}
p{
    font-size: 22px;
    margin-top: 25px;
    margin-left: 25px;
}
@media only screen and(max-width:600px){
    .right-side{
        width: 400px;
        height: 300px;
        background-color: green;
    }
}